
{% extends "base.html" %}

{% block content %}

<h1> All posts by {{owner.username}}</h1>

<ul>
{% for post in all_posts %}
          

              <li><a href="/blog?post_id={{post.id}}">{{post.title}}</a>
                  <br>
             
               
                
                  {{post.body}}
                  <br>
                  Written by <a href="/blog?user={{post.owner.username}}">{{owner.username}}</a>
              </li>
            
          {% endfor %}
</ul>

{% endblock %}

